<div class="container">
    <!-- Newsletter Wrapper Start -->
    <div class="newsletter-wrapper text-center">
        <a class="logo" href="index.html"><img src="https://previews.123rf.com/images/bestvectorstock/bestvectorstock1808/bestvectorstock180807517/107315939-song-note-icon-vector-isolated-on-white-background-for-your-web-and-mobile-app-design-song-note-logo.jpg" width="172" height="45" alt="Logo" /></a>
        <h4 class="title" style="color: red;">Bạn muốn đặt tiệc tổ chức sự kiện tại nhà hàng</h4>
        <p>Chúng tôi sẽ chủ động liên hệ với bạn bằng email bạn nhập bên dưới</p>
        <div class="newsletter-form">
            <form action="#">
                <input type="text" placeholder="Enter your email here" />
                <button class="btn btn-white btn-hover-dark">Send</button>
            </form>
        </div>
    </div>

    <div class="footer-widget-wrapper">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4 class="widget-title">Thông tin của chúng tôi</h4>
                    <div class="footer-widget-info">
                        <div class="single-widget-info">
                            <h6 class="title">Địa chỉ</h6>
                            <p>102 Lê Trọng Tấn, phường Tây Thạnh, quận Tân Phú</p>
                        </div>
                        <div class="single-widget-info">
                            <h6 class="title">Điện thoại</h6>
                            <p><a href="tel:+0337122712">0337122712</a></p>
                        </div>
                        <div class="single-widget-info">
                            <h6 class="title">Web</h6>
                            <p><a href="mailto:info@example.com">hientranvan27@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4 class="widget-title">Đường dẫn</h4>
                    <div class="footer-widget-link">
                        <ul>
                            <li><a href="about.html">Facebook</a></li>
                            <li><a href="spa-service.html">Instagram</a></li>
                            <li><a href="#">Tiktok</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4 class="widget-title">Thông tin</h4>
                    <div class="footer-widget-link">
                        <ul>
                            <li><a href="#">ABC</a></li>
                            <li><a href="#">ABC</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4 class="widget-title">Thời gian hoạt động</h4>
                    <div class="footer-widget-info">
                        <div class="single-widget-info">
                            <h6 class="title">Tất cả các ngày trong tuần</h6>
                            <p>9.00 am - 10.30 Pm</p>
                        </div>
                    </div>
                    <div class="footer-widget-book">
                        <h5 class="book-title">Liên hệ ngay</h5>
                        <p><a href="tel:+12345687754">+12345 687 754</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
