<div id="header" class="section header-area">
    <div class="container">
        <!-- Header Wrapper Start -->
        <div class="header-wrapper">
            <!-- Header Logo Start -->
            <div class="header-logo">
                <a href="index.html"><img style="border-radius: 50%; width: 50px; height: 50px" src="https://previews.123rf.com/images/bestvectorstock/bestvectorstock1808/bestvectorstock180807517/107315939-song-note-icon-vector-isolated-on-white-background-for-your-web-and-mobile-app-design-song-note-logo.jpg" width="172" height="45" alt="Logo" /></a>
            </div>
            <!-- Header Logo End -->

            <!-- Header Navbar Start -->
            <div class="header-navbar d-none d-lg-block">
                <ul class="navbar-menu">
                    <li><a href="/schedules/show">Trang chủ</a></li>
                    <li><a href="/schedules/create">Tạo mới</a></li>
                    {{!-- <li><a href="contact.html">Danh sách đã hoàn thành</a></li> --}}
                </ul>
            </div>
            <!-- Header Navbar End -->

            <!-- Header Meta Start -->
            <div class="header-meta">
                <div class="dropdown">
                    <button class="account" data-bs-toggle="dropdown">
                        <i class="fa fa-user"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-account">
                        <li><a href="my-account.html">My Account</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="login.html">Sign In</a></li>
                    </ul>
                </div>
                <!-- dropdown End -->
            </div>
            <!-- Hewader Meta End -->
        </div>
        <!-- Header Wrapper End -->
    </div>
</div>
