<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>The Song Order</title>
        <meta name="robots" content="noindex, follow" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.webp" />

        <!-- CSS
	============================================ -->

        <!-- Icon Font CSS -->
        <link rel="stylesheet" href="/assets/css/plugins/font-awesome.min.css" />
        <link rel="stylesheet" href="/assets/css/plugins/icofont.min.css" />

        <!-- Plugins CSS -->
        <link rel="stylesheet" href="/assets/css/plugins/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/plugins/animate.min.css" />
        <link rel="stylesheet" href="/assets/css/plugins/swiper-bundle.min.css" />
        <link rel="stylesheet" href="/assets/css/plugins/nouislider.css" />
        <link rel="stylesheet" href="/assets/css/plugins/star-rating.css" />
        <link rel="stylesheet" href="/assets/css/plugins/nice-select2.css" />
        <link rel="stylesheet" href="/assets/css/plugins/glightbox.min.css" />
        <link rel="stylesheet" href="/assets/css/plugins/aos.css" />

        <!-- Main Style CSS -->
        <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
        <link rel="stylesheet" href="/assets/css/style.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="main-wrapper">
            <!-- Header Start -->
                {{>header}}
            <!-- Header End -->
        </div>
        <div class="sub-menu"></div>
        <!-- Body -->
        {{{body}}}
        <!-- Footer -->
        {{>footer}}
        <!-- Script -->

        <!-- JS
    ============================================ -->
        {{!-- <!-- Bootstrap JS -->
        <script src="/assets/js/plugins/popper.min.js"></script>
        <script src="/assets/js/plugins/bootstrap.min.js"></script>

        <!-- Plugins JS -->
        <script src="/assets/js/plugins/swiper-bundle.min.js"></script>
        <script src="/assets/js/plugins/nouislider.js"></script>
        <script src="/assets/js/plugins/star-rating.js"></script>
        <script src="/assets/js/plugins/nice-select2.js"></script>
        <script src="/assets/js/plugins/glightbox.min.js"></script>
        <script src="/assets/js/plugins/aos.js"></script> --}}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

        <!-- Main JS -->
        <script src="/assets/js/main.js"></script>
    </body>
</html>
